.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 70%;

  /* flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; */
}

.data-container > * {
  flex: 0 1 33%;
}

.head-container {
  display: flex;
  width: 1000px;
  max-width: 100%;
  padding-bottom: 15px;
  width: 100%;
  margin: 0 auto;
}

.head-container > * {
  flex: 0 1 33%;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-space {
  margin-left: 5 px;
}

.all-container {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
