.navbar-expand-lg {
  background-color: var(--main-nav-color);
}

.nav-link {
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.04);
}

.nav-link:focus {
  color: rgb(148, 148, 148);
  text-decoration: none;
  transform: scale(1.04);
}

.nav-logo-center {
  position: absolute;
  left: 50%;

  top: -15px;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}

.nav-logo {
  width: 90px;
  height: 90px;
}

.nav-logo:hover {
  transform: scale(1.1);
}

:root {
  --main-nav-color: #212121;
}
