.button {
  background-color: var(--main-button-color);
  border: 0;
  border-radius: 20px;
  color: white;
  padding: 20px;
  width: 100%;
  margin-top: 15px;
}

.button:hover {
  background-color: rgb(21, 77, 107);
}

body {
  background-color: var(--main-bg-color);
}
.login-container {
  margin-top: 50px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #6e6e6e, -15px -15px 30px #e0e0e0;
  padding: 20px;

  margin-left: auto;
  margin-right: auto;

  width: 400px;
}

.login-container-inside {
  padding: 25px 40px 25px 40px;
}

.text-center {
  margin-bottom: 45px;
}

.form-label {
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin: 15px;
}

:root {
  --main-bg-color: #e8e8e8;
}

:root {
  --main-button-color: #1c658c;
}
