.titlepg {
  color: #202c39;
}

.userlist-filter-container {
  margin-top: 40px;
}

.userlist-search-container {
  margin-bottom: 25px;
  margin-top: 10px;
}

.userlist-search-container input {
  width: 25%;
}
td {
  justify-content: center;
  align-items: center;
}

#userlist-button {
  background-color: var(--main-nav-color);
  color: white;
  border: 0;
  border-radius: 2px;
  width: 80px;
  height: 30px;
}

#userlist-button:hover {
  background-color: #0f0f0f;
  color: white;
  border: 0;
  border-radius: 2px;
}

.form-container-select {
  display: flex;
}

.form-select {
  margin: 20px 0px 20px;
  margin-right: 10px;
}
