.user-detail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-detail-inside {
  width: 900px;
  background-color: #e0e0e0;
  box-shadow: 15px 15px 30px #6e6e6e, -15px -15px 30px #e0e0e0;
  margin-bottom: 40px;
  border-radius: 20px;
}

.labels-container {
  margin: 30px 50px 5px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.back-img-container {
  position: absolute;
  left: 0;
  margin-top: 45px;
  margin-left: 40px;
}
.back-img {
  width: 75px;
  height: 47px;
}

.back-img:hover {
  transform: scale(1.1);
}

.detail-label {
  padding: 5px;
  padding-bottom: 25px;
  font-size: large;
  font-weight: bold;
  width: 50%;
  display: flex;
  justify-content: center;
}

.detail-jobs-container {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
}

.edit-user-link {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.salary-btn-container {
  width: 500px;
  margin-bottom: 50px;
}

.jobs-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 300px;
}

.btn-paycheck {
  margin-left: 70%;
}
