.userlist-filter-container {
  margin-top: 40px;
}

.userlist-search-container {
  margin-bottom: 25px;
  margin-top: 10px;
}

.userlist-search-container input {
  width: 25%;
}

#userlist-button {
  background-color: var(--main-nav-color);
  color: white;
  border: 0;
  border-radius: 2px;
}

#userlist-button:hover {
  background-color: #161616;
  color: white;
  border: 0;
  border-radius: 2px;
}
